---
---

@import 'main';

/* append your custom style below */

h2 {
  color: #d08770 !important;
}

h3 {
  color: #ebcb8b !important;
}

h4 {
  color: #a3be8c !important;
}

h5 {
  color: #b48ead !important;
}

strong {
  color: #6ECCAF !important;
}